<section class="footer">

    <nav>
        <a href="start"><img src="/static/images/home.png" class="navimg" alt="home"></a>
        
        {{!-- <a href="inloggen">Inloggen</a> --}}
        <a href="zoeken"><img src="/static/images/zoeken.png" class="navimg" alt="zoeken"></a>
    </nav>

    <section class="circle"><a href="verkennen"><img src="/static/images/like.png" class="navlike" alt="verkennen"></a></section>

</section>