<img src="/static/images/logo_default.png" class="logoapp" alt="Logo van de app">

<hr>

{{!-- <section class="header">

    <nav>
        <a href="home">Home</a>
        <a href="verkennen">Verkennen</a>
        <a href="inloggen">Inloggen</a>
        <a href="zoeken"><img src="/static/images/zoeken.png" class="zoeken" alt="zoeken"></a>
    </nav>

</section> --}}

