<h2>Inloggen</h2>

<p>Vul je gebruikersnaam en wachtwoord in om in te loggen.</p>

{{!-- Geef invoervelden voor alle onderstaande gegevens --}}
{{!-- Bij versturen van de form, voer /login uit --}}
<form action='/login' class='pe' method='POST'>
	<fieldset>
		<label for='gebruikersnaam'>Gebruikersnaam</label>
		<input type='text' id='gebruikersnaam' name='gebruikersnaam'>
	</fieldset>
	<fieldset>
		<label for='password'>Wachtwoord</label>
		<input type='password' id='password' name='password'>
	</fieldset>
	<label class="error"></label>
	<input type='submit' id='button' value='Log in'>
</form>

<p>Nog geen account? Maak er nu een aan!</p>
<a class='aanmaken' href='accountmaken'>Account aanmaken</a>
