<h2>Inloggen</h2>

<p>Vul je gebruikersnaam en wachtwoord in om in te loggen.</p>

<form>
	<fieldset>
		<label for="text">Gebruikersnaam</label>
		<input type="text" name="inloggen" id="inloggen" required></input>
	</fieldset>
    <fieldset>
		<label for="text">Wachtwoord</label>
		<input type="text" name="inloggen" id="inloggen" required></input>
	</fieldset>

	<input type="submit" value="Log in">
</form>