<h2>Je kunt nu een cafe toevoegen aan je lijst</h2>

<form action='/nieuwecafe' method='POST'>
    <fieldset>
		<label for='naamcafe'>Naam cafe</label>
		<input type='text' id='naamcafe' name='naamcafe' required>
    </fieldset>
	<fieldset>
		<label for='locatie'>Locatie</label>
		<input type='text' id='locatie' name='locatie' required>
    </fieldset>
    <input type='submit' value='Verzenden'>
</form>