<h2>Profiel bijwerken</h2>

{{!-- Geef invoervelden voor alle onderstaande gegevens --}}
{{!-- Bij versturen van de form, voer /gewijzigd uit --}}
<form action="/gewijzigd" method="post">
    <fieldset>
        <label for='voornaam'>Voornaam</label>
        <input type="text" id="voornaam" class='veld_wijzigen' name="voornaam" value="{{voornaam}}" required>
    </fieldset>
    <fieldset>
        <label for='voornaam'>Achternaam</label>
        <input type="text" id="achternaam" class='veld_wijzigen' name="achternaam" value="{{achternaam}}" required>
    </fieldset>
    <fieldset>
        <label for='voornaam'>Gebruikersnaam</label>
        <input type="text" id="gebruikersnaam" class='veld_wijzigen' name="gebruikersnaam" value="{{gebruikersnaam}}" required>
    </fieldset>
    <fieldset>
        <label for='voornaam'>E-mailadres</label>
        <input type="email" id="email" class='veld_wijzigen' name="email" value="{{email}}" required>
    </fieldset>
    <input type="submit" id='button' value="Profiel bijwerken">
</form>

{{>footer}}