<h2>Zoeken</h2>

<p>Typ de naam van een cafe in de zoekbalk, om dit cafe te zoeken.</p>

<form>
	<fieldset>
		{{!-- <label for="email">Emailadres</label> --}}
		<input type="text" name="zoeken" id="zoeken" required></input>
	</fieldset>

	<input type="submit" value="Zoeken">
</form>