<h2>Zoeken</h2>

<p>Typ de naam van een cafe in de zoekbalk, om dit cafe te zoeken.</p>

<form>
	<fieldset>
		<input type='text' name='zoeken' id='zoeken' required></input>
	</fieldset>

	<input type='submit' id='button' value='Zoeken'>
</form>

