* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    /* align-items: center; */
}

h2 {
    color: #8F4C13;
    margin-left: 1em;
}

p {
    margin-left: 1.5em;
    margin-right: 1em;
}


/* Header */
.logoapp {
    width: 6em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: solid 0.5px;
}


/* Footer */
.footer {
    background-color: #8F4C13;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 3em;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

.navimg {
    width: 2em;
    height: 2em;
    margin-top: 4px;
}

.navlike {
    width: 2.8em;
    height: 2.8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.circle {
    border-radius: 50%;
    background-color: white;
    width: 5em;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}


/* Pagina verkennen */
.verkennen {
    padding-bottom: 5em;
    text-align: center;
}

article {
    border: 1px dashed #8F4C13;
}

h3 {
    color: #8F4C13;
    font-style: italic;
    font-size: 0.8em;
}


/* Pagina inloggen, profiel, zoeken */
fieldset {
    border: none;
    margin-left: 0.8em;
}

#button {
    background-color: #8F4C13;
    color: white;
    font-size: 1em;
    border: none;
    width: 9em;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

input {
    border: solid 1px black;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pe {
    margin-top: 2em;
    margin-bottom: 2em;
}

.pe input {
    border: none;
    border-bottom: 0.1em solid black;
    border-radius: 0;
    width: 70%;
}

.veld_wijzigen {
    border: none;
    border-bottom: 0.1em solid black;
    border-radius: 0;
    width: 70%;
}

.profiel {
    margin-top: 1em;
    margin-left: 1.8em;
    display: flex;
    flex-direction: column;
}

.profielwijzigen {
    display: block;
    background-color: #8F4C13;
    color: white;
    font-size: 1em;
    text-align: center;
    width: 12em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 0.4em;
}

label {
    display: block;
}

.aanmaken {
    color: #8F4C13;
    text-decoration: underline;
    margin-left: 1.7em;
}


/* Profiel */
.profiel_pic {
    width: 6em;
    height: 6em;
    margin-left: 3em;
    margin-bottom: 2em;
    border-radius: 80%;
}


/* Melding voor fout bij inloggen */
.errorcss {
    background: red;
    color: white;
    width: 80%;
    border-radius: 2em;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
  }