* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center;
    color: #8F4C13;
}

p {
    margin-left: 1em;
    margin-right: 1em;
}


/* Header */
.logoapp {
    width: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 2em; */
}

hr {
    border: solid 0.5px;
}


/* Footer */
.footer {
    background-color: #8F4C13;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 3em;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

.navimg {
    width: 2em;
    height: 2em;
    margin-top: 4px;
}

.navlike {
    width: 2.8em;
    height: 2.8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.circle {
    border-radius: 50%;
    background-color: white;
    width: 5em;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }


/* Pagina verkennen */
.logocafe {
    width: 6em;
    height: 6em;
    border-radius: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}


/* Pagina inloggen + zoeken */
fieldset {
    border: none;
}

input {
    display: block;
    margin-left: 2em;
}

label {
    display: block;
    margin-left: 2em;
}